@keyframes spin360 {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

.animations-1s-infinite-ease {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; 
}
